footer.footer 
    .container 
        .footer-content.text-center
            .footer__img 
                img.mx-auto.my-4(src="./assets/images/logo.png", alt="")
            .footer__social 
                h3.h2.text-uppercase Follow me 
                a(href="#").m-5
                    i.fab.fa-facebook
                a(href="#").m-5
                    i.fab.fa-instagram
                a(href="#").m-5
                    i.fab.fa-youtube 
                a(href="#").m-5 
                    i.fab.fa-twitter  
        .footer__copyright.text-center
            p Copyright @2021 All rights reserved | This template is made with by Vinh   
                a(href="#")
                    span Quang Vinh 
                
