//- banner start
.banner {
    background: url(../images/banner/home-banner.png) no-repeat;
    background-position: 0% 50%;
    .banner__site-title {
        h3 {
            font: 500 4rem/7rem $primary-font;
        }
        h2 {
            font: 600 8rem/10rem $primary-font;
        }
        .title-text_hey {
            position: relative;
        }
        .title-text_hey::before {
            content: "";
            position: absolute;
            @include box(18vw, 2px);
            background-color: $black;
            top: 50%;
            transform: translateY(-50%);
            left: 100%;
            margin-left: 30px;
        }
        @include media-breakpoint(sm, down) {
            h3 {
                font: 500 3rem/5rem $primary-font;
            }
            h2 {
                font: 600 5rem/7rem $primary-font;
            }
        }
        @include media-breakpoint(lg, down) {
            margin-top: 100px;
        }

        @include flex-center-column;
        align-items: flex-start;
        padding: 0 50px;
    }

    &-image {
        padding: 7rem;
    }
}
// - banner end

.banner__button-group {
    .btn.btn-primary {
        margin: 0 15px;
    }
}

.intro {
    &__image {
        padding: 3rem;
    }

    &__content {
        padding: 1rem;
        h3 {
            font: normal 600 4rem/5rem $primary-font;
            letter-spacing: 1.6rem;
            @include media-breakpoint(md, down) {
                font-size: 8vw;
                line-height: 6rem;
            }
            @include media-breakpoint(md, down) {
                font-size: 6vw;
                line-height: 4rem;
            }
        }
        .para {
            color: $gray;
            padding: 1rem 0;
            width: 75%;
            font: normal 300 1.6rem/2.5rem $primary-font;

            @include media-breakpoint(lg, down) {
                width: 100%;
            }
        }
        @include media-breakpoint(lg, down) {
            padding: 0 5rem;
        }
    }
}
// - intro end

// - brand start
.brand {
    margin-top: 100px;
    .col-lg-4 {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__single {
        @include flex-center;
        padding: 35px;
        margin: 15px;
        border: 1px solid #ddd;
        width: 180px;
        height: 100px;
        @include transition;

        &:hover {
            box-shadow: $box-shadow;
            transform: scale(1.2);
        }

        img {
            @include transition;
        }

        &:hover img {
            filter: brightness(0.15);
        }
    }
    // + brand right start
    &__right {
        position: relative;
        &::before {
            background: url(../images/client-info-bg.png) no-repeat;
            background-size: contain;
            position: absolute;
            left: 0;
            @include transform(translateX(-50%));
            top: 0;
            width: 150px;
            height: 150px;
            content: "";
        }
        &__content {
            max-width: 400px;
            background-color: rgba(255, 238, 246, 0.817);
            @include media-breakpoint(sm, down) {
            }
        }
        &-title {
            display: flex;
            z-index: 1;
        }
        &-year {
            font: normal bold 8rem/9rem $primary-font;
            padding: 30px 10px;
            color: $primary-color;
        }
        h3 {
            @include flex-center-column;
            span {
                display: block;
                font: normal bold 3rem/4rem $primary-font;
                margin-left: 20px;
                @include media-breakpoint(sm, down) {
                    font-size: 2rem;
                    line-height: 3rem;
                }
            }
        }
        .brand__bg-panel {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: #de29290a;
            width: 400px;
            height: 350px;
            z-index: -1;
        }
    }
    &__phone {
        display: flex;
        margin-top: 100px;
        .brand__call-title {
            color: rgb(59, 65, 255);
            font-size: 3rem;
        }
        .brand__call-now {
            margin-left: 30px;
            span {
                display: block;
                padding: 10px;
            }
            @include media-breakpoint(sm, down) {
                margin: 0;
            }
        }
        span {
            padding: 10px 20px;
            margin-left: 30px;
        }
    }
    // + brand right end
}
// - brand end

// - service start
.service {
    margin-top: 100px;
    &__head {
        h3 {
            font: bold 3rem/4rem $primary-font;
            padding: 20px;
        }
        p {
            font: normal 1.6rem/2rem $primary-font;
            padding: 0 50px;
        }
    }
    &__card {
        margin-top: 20px;
        padding: 50px;
        background-color: rgba(248, 252, 252, 0.973);
        @include transition;
        &:hover {
            box-shadow: $box-shadow;
            transform: scale(1.1);
        }
        img {
        }
        &-text {
            h3 {
                font: normal 600 2rem/3rem $primary-font;
                white-space: nowrap;
            }
            p {
            }
        }
    }
}
// - service end

// - Project start
.project {
    margin-top: 100px;
    &__title {
        h3 {
            font: 700 4rem/5rem $primary-font;
            @include media-breakpoint(sm, down) {
                font-size: 2.6rem;
                line-height: 1.3;
            }
        }
    }

    &__grid {
        .project__card {
            margin-top: 50px;

            &-image {
                height: 300px;
                width: 300px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            &-desc {
                h3 {
                }
                p {
                }
            }
        }
    }
    &__button-group {
        button {
            @include media-breakpoint(md, down) {
                font-size: 1.5rem;
            }
        }
        @include media-breakpoint(md, down) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}
// - Project end

// - about start
.about {
    margin-top: 100px;
    &__content {
    }
}
// - about end
