-
    var header = {
        navItems: [
            {
                title: "Home",
                link: "/"
            },
            {
                title: "About",
                link: "/about.html"
            },
            {
                title: "Shop",
                link: "/shop.html"
            },
            {
                title: "Porfolio",
                link: "/porfolio.html"
            },
            {
                title: "Pages",
                link: "/pages.html"
            },
            {
                title: "Login",
                link: "/login.html"
            },
            {
                title: "Register",
                link: "/register.html"
            }
        ],

        intro: {
            title1: "hey",
            title2: "I am Vinh",
            title3: "Front end developer"
        },

        banner: {
            bannerImg: "banner-image.png",
            altImg: "banner image"
        }
    }

    var content = {
        about: {
            span1: 'let me',
            span2: 'introduce',
            span3: 'myself',
            about1: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Error rerum iure obcaecati vel possimus officia maiores perferendis ut! Quos, perspiciatis.',
            about2: "It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here'"
        }
    }

    var brand = {
        brandLeft: [
            {
                img: 'logo1.png',
                alt: 'brand image'
            },
            {
                img: 'logo2.png',
                alt: 'brand image'
            },
            {
                img: 'logo3.png',
                alt: 'brand image'
            },
            {
                img: 'logo4.png',
                alt: 'brand image'
            },
            {
                img: 'logo5.png',
                alt: 'brand image'
            },
            {
                img: 'logo6.png',
                alt: 'brand image'
            },
            {
                img: 'logo7.png',
                alt: 'brand image'
            },
            {
                img: 'logo8.png',
                alt: 'brand image'
            },
            {
                img: 'logo9.png',
                alt: 'brand image'
            }
        ],
        brandRight: {
            yearExp: '100',
            brandSpan1: 'Years',
            brandSpan2: 'Experience',
            brandSpan3: 'Working',
            brandSpan4: 'Call Now',
            phone: '+84-355-510-535'
        }
    }

    var service = {
        serviceTitle:'SERVICES OFFERS',
        servicePara: 'There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour',
        cards:[
            {
                img:"s1.png",
                alt:"card service image",
                title:"WP DEVELOPER",
                desc:"Some quick example text to build on the card title and make up the bulk of the card's content."
            },
            {
                img:"s2.png",
                alt:"card service image",
                title:"UX/UI DESING",
                desc:"Some quick example text to build on the card title and make up the bulk of the card's content."
            },
            {
                img:"s3.png",
                alt:"card service image",
                title:"WEB DESIGN",
                desc:"Some quick example text to build on the card title and make up the bulk of the card's content."
            },
            {
                img:"s4.png",
                alt:"card service image",
                title:"SEO OPTIMIZE",
                desc:"Some quick example text to build on the card title and make up the bulk of the card's content."
            }
        ]
    }

    var project = [
        {
            img: "p1.jpg",
            alt: "project image 1",
            name: "MINIMUL DESING",
            desc: "Latest, Portfolio"
        },
        {
            img: "p2.jpg",
            alt: "project image 2",
            name: "PAINT WALL",
            desc: "Latest, Portfolio"
        },
        {
            img: "p3.jpg",
            alt: "project image 3",
            name: "FEMALE LIGHT",
            desc: "Latest, Portfolio"
        },
        {
            img: "p4.jpg",
            alt: "project image 4",
            name: "FOURTH AIR",
            desc: "Latest, Portfolio"
        },
        {
            img: "p5.jpg",
            alt: "project image 5",
            name: "TOGETHER SIGN",
            desc: "Latest, Portfolio"
        },
        {
            img: "p6.jpg",
            alt: "project image 6",
            name: "MULIPLE FOWN",
            desc: "Latest, Portfolio"
        },
        {
            img: "p7.jpg",
            alt: "project image 7",
            name: "GREEN HEAVEN",
            desc: "Latest, Portfolio"
        },
        {
            img: "p8.jpg",
            alt: "project image 8",
            name: "CAMERA LENS",
            desc: "Latest, Portfolio"
        },
        {
            img: "p9.jpg",
            alt: "project image 9",
            name: "FLY MALE",
            desc: "Latest, Portfolio"
        },

    ]

    var carousel = {
        items: [
            [
                {
                    img: "t1.jpg",
                    alt: "testmonial image",
                    name: "John Martin 1",
                    comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nihil assumenda vel asperiores explicabo rem dolorum fugit alias aliquid obcaecati."
                },
                {
                    img: "t2.jpg",
                    alt: "testmonial image",
                    name: "John Martin 1",
                    comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nihil assumenda vel asperiores explicabo rem dolorum fugit alias aliquid obcaecati."
                }
            ],
            [
                {
                    img: "t1.jpg",
                    alt: "testmonial image",
                    name: "John Martin 2",
                    comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nihil assumenda vel asperiores explicabo rem dolorum fugit alias aliquid obcaecati."
                },
                {
                    img: "t2.jpg",
                    alt: "testmonial image",
                    name: "John Martin 2",
                    comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nihil assumenda vel asperiores explicabo rem dolorum fugit alias aliquid obcaecati."
                }
            ],
            [
                {
                    img: "t1.jpg",
                    alt: "testmonial image",
                    name: "John Martin 3",
                    comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nihil assumenda vel asperiores explicabo rem dolorum fugit alias aliquid obcaecati."
                },
                {
                    img: "t2.jpg",
                    alt: "testmonial image",
                    name: "John Martin 3",
                    comment: "Lorem, ipsum dolor sit amet consectetur adipisicing elit. A nihil assumenda vel asperiores explicabo rem dolorum fugit alias aliquid obcaecati."
                }
            ]
        ]
    }

    var breadcrumbs = {
        shop: [
            {
                page: 'Home',
                link: '/'
            },
            {
                page: 'Shop',
                link: '/shop.html'
            }
        ],
        login: [
            {
                page: 'Home',
                link: '/'
            },
            {
                page: 'Login',
                link: '/login.html'
            }
        ],
        about: [
            {
                page: 'Home',
                link: '/'
            },
            {
                page: 'About',
                link: '/about.html'
            }
        ],
        productDetail: [
            {
                page: 'Home',
                link: '/'
            },
            {
                page: 'Shop',
                link: '/shop.html'
            },
            {
                page: 'Product Detail',
                link: '/product-detail.html'
            }
        ],
        register: [
            {
                page: 'Home',
                link: '/'
            },
            {
                page: 'Register',
                link: '/register.html'
            }
        ]
    }
    var shop = {
        category:[
            {
                type: 'Portfolio',
                list: [
                    {
                        name: 'My CV 1',
                        quantity: 2
                    },
                    {
                        name: 'My CV 2',
                        quantity: 3
                    },
                    {
                        name: 'My CV 3',
                        quantity: 4
                    },
                    {
                        name: 'My CV 4',
                        quantity: 1
                    },
                    {
                        name: 'My CV 5',
                        quantity: 2
                    },
                ]
            },
            {
                type: 'Project',
                list: [
                    {
                        name: 'Project 1',
                        quantity: 4
                    },
                    {
                        name: 'Project 2',
                        quantity: 3
                    },
                    {
                        name: 'Project 3',
                        quantity: 2
                    },
                    {
                        name: 'Project 4',
                        quantity: 4
                    }
                ]
            }
        ],
        tags: ["CV", "Project", "Porfolio", "abc", "test", "T-shirt", "Beauty CV"],
        list:[
            {
                img: './assets/images/shop/shop1.jpg',
                imgAlt: 'shop1',
                detailLink: '/product-detail.html',
                name: 'project 1',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop2.jpg',
                imgAlt: 'shop2',
                detailLink: '/product-detail.html',
                name: 'project 2',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop3.jpg',
                imgAlt: 'shop3',
                detailLink: '/product-detail.html',
                name: 'project 3',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop4.jpg',
                imgAlt: 'shop4',
                detailLink: '/product-detail.html',
                name: 'project 4',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop5.jpg',
                imgAlt: 'shop5',
                detailLink: '/product-detail.html',
                name: 'project 5',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop6.jpg',
                imgAlt: 'shop6',
                detailLink: '/product-detail.html',
                name: 'project 6',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop7.jpg',
                imgAlt: 'shop7',
                detailLink: '/product-detail.html',
                name: 'project 7',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop8.jpg',
                imgAlt: 'shop8',
                detailLink: '/product-detail.html',
                name: 'project 8',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            },
            {
                img: './assets/images/shop/shop9.jpg',
                imgAlt: 'shop9',
                detailLink: '/product-detail.html',
                name: 'project 9',
                price: '50$',
                desc: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas, harum.',
                link: '#'
            }
        ]
    }
    var productDetail = {
        imageList: [
            {
                img: 'Product/13.jpg',
                imgAlt: 'product 13',
            },
            {
                img: 'Product/13.jpg',
                imgAlt: 'product 13',
            },
            {
                img: 'Product/8.jpg',
                imgAlt: 'product 8',
            },
            {
                img: 'Product/7.jpg',
                imgAlt: 'product 7',
            },
            {
                img: 'Product/13.jpg',
                imgAlt: 'product 13',
            },
        ],

        name: 'Project team',
        price: '50.00 $',
        rating: 3.5,
        numberOfReview: 12,
        desc: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.',
    }
