.btn {
    padding: 8px 2.2rem;
    font: normal 500 1.6rem/2rem $primary-font;
    border-radius: 4px;
    border: 2px solid $primary-color;
    text-transform: uppercase;
    @include transition;

    &:hover {
        background-image: $gradient-color;
        color: $white;
        @include transition;
    }
}

.btn-primary {
    background-image: $gradient-color;
    border: none;
    color: $white;
    box-shadow: $box-shadow;
    border: 2px solid transparent;
    @include transition;


    &:hover {
        background: none;
        color: $black;
        border: 2px solid $primary-color;
    }
}
.btn-transparent{
    border:none;
    background: none;
    color: $black;
    @include transition;
    &:hover{
        background-color: rgb(242, 242, 242);
        color: $primary-color;
        background-image: none;
    }
}